[Desktop Entry]
Name=MANNager
Comment=Source Engine Dedicated Server Manager written in Rust
Type=Application
Keywords=TF2;CSGO;CS2;L4D1;Server Manager;Server;SourceEngine;
Categories=Development;Network;Utility;
Exec=mannager
Icon=com.github.tsuza.mannager-source
StartupWMClass=com.github.tsuza.mannager-source
Terminal=false