<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package
             Manufacturer="$(app_creator)"
             Name="$(app_name)"
             Version="$(version)"
             Language="1033"
             UpgradeCode="$(upgrade_guid)"
             UpgradeStrategy="majorUpgrade"
             Scope="perMachine">

        <MajorUpgrade Schedule="afterInstallInitialize"
                      DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
        </StandardDirectory>

        <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">

            <Component>
                <File Id="Application" DiskId="1" Source="$(binary_path)/$(app_name).exe" KeyPath="yes">
                    <Shortcut Id="ApplicationStartMenuShortcutInFile"
                              Name="$(app_name)"
                              Icon="$(app_name)Icon"
                              Directory="ProgramMenuFolder"
                              Description="$(description)"
                              Advertise="yes"
                              WorkingDirectory="INSTALLFOLDER">
                        <ShortcutProperty Key="System.AppUserModel.ID" Value="$(id)" />
                    </Shortcut>
                </File>
            </Component>

            <Component>
                <RegistryKey Root="HKLM" Key="SOFTWARE\$(app_name)" ForceDeleteOnUninstall="yes" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\$(app_name)\Capabilities" Name="ApplicationDescription" Value="$(app_name) - $(description)" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\$(app_name)\Capabilities" Name="ApplicationIcon" Value="[INSTALLFOLDER]$(app_name),0" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\$(app_name)\Capabilities" Name="ApplicationName" Value="$(app_name)" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\$(app_name)\Capabilities\URLAssociations" Name="$(app_name)" Value="$(app_name)" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="$(app_name)" Value="SOFTWARE\$(app_name)\Capabilities" Type="string" />
            </Component>

        </ComponentGroup>

        <Icon Id="$(app_name)Icon" SourceFile="$(path_to_icon)/$(app_name).ico" />

        <Property Id="ARPPRODUCTICON" Value="$(app_name)Icon"/>
        <Property Id="APPHELPLINK" Value="$(website_url)"/>

        <CustomAction Id="LaunchApp" Impersonate="yes" Execute="deferred" FileRef="Application" ExeCommand="" Return="asyncNoWait" />

        <InstallExecuteSequence>
            <Custom Action="LaunchApp" Before="InstallFinalize"/>
        </InstallExecuteSequence>

        <WixVariable Id="WixUILicenseRtf" Value="wix/license.rtf"/>
        <WixVariable Id="WixUIDialogBmp" Value="wix/dialog.png"/>
        <WixVariable Id="WixUIBannerBmp" Value="wix/banner.png"/>

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    </Package>
</Wix>