<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package Name="MANNager"
             Version="$(PackageVersion)"
             Manufacturer="tsuza"
             Language="1033"
             UpgradeCode="3ed18662-fb43-4803-a4f9-89bbbc0b6d01"
             UpgradeStrategy="majorUpgrade"
             Scope="perMachine">

        <MajorUpgrade Schedule="afterInstallInitialize"
                      DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
        </StandardDirectory>

        <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">

            <Component>
                <File Id="Application" DiskId="1" Source="target/release/mannager.exe" KeyPath="yes">
                    <Shortcut Id="ApplicationStartMenuShortcutInFile"
                              Name="MANNager"
                              Icon="MannagerIcon.exe"
                              Directory="ProgramMenuFolder"
                              Description="Source Engine Dedicated Server Manager"
                              Advertise="yes"
                              WorkingDirectory="INSTALLFOLDER">
                        <ShortcutProperty Key="System.AppUserModel.ID" Value="org.tsuza.mannager-source" />
                    </Shortcut>
                </File>
            </Component>

            <Component>
                <RegistryKey Root="HKLM" Key="SOFTWARE\MANNager" ForceDeleteOnUninstall="yes" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\MANNager\Capabilities" Name="ApplicationDescription" Value="MANNager - Source Engine Dedicated Server Manager" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\MANNager\Capabilities" Name="ApplicationIcon" Value="[INSTALLFOLDER]mannager.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\MANNager\Capabilities" Name="ApplicationName" Value="Mannager" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\MANNager\Capabilities\URLAssociations" Name="mannager" Value="mannager" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="MANNager" Value="SOFTWARE\MANNager\Capabilities" Type="string" />
            </Component>

        </ComponentGroup>

        <Icon Id="MannagerIcon.exe" SourceFile="assets/windows/mannager.ico" />
        <Property Id="ARPPRODUCTICON" Value="MannagerIcon.exe"/>
        <Property Id="APPHELPLINK" Value="https://github.com/tsuza/mannager-source/"/>

        <CustomAction Id="LaunchApp" Impersonate="yes" Execute="deferred" FileRef="Application" ExeCommand="" Return="asyncNoWait" />
        <InstallExecuteSequence>
            <Custom Action="LaunchApp" Before="InstallFinalize"/>
        </InstallExecuteSequence>

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    </Package>
</Wix>